/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f9fb;
}

/* Стилизация для академических блоков */
.academic-block {
    border-left: 4px solid #3b82f6; /* Синяя полоса слева */
    background-color: #eff6ff; /* Светло-синий фон */
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

/* Стилизация заголовков */
h1, h2, h3 {
    font-weight: 700;
}